html{
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.qrcode {
  width: 290px;
  height: 460px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 5px 5px 10px 1px hsl(0, 0%, 67%);

}
.qr_img {
  margin: 15px 10px 0 -25px;
  width: 260px;
  height: 260px;
  border-radius: 10px;
}
.qrcode__header {
  font-size: 21px;
  font-weight: 700;
  margin: 15px;
  color: hsl(218, 44%, 22%);
}
.qrcode__text {
  margin: 15px 20.7px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 90px;
}

.link {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  body {
    display: flex;
    justify-content: center;
  }
}
